<h1>See a rat?</h1>

<h3>Report it and be done!</h3>

<%= link_to (image_tag"rat.gif", :width => 500), new_sighting_url%>

<!-- Add link and button to map page  -->

<%= link_to (image_tag"rat.gif", :width => 500), map_url%>


