<!DOCTYPE html>
<html>
<head>
  <title> Rat Tracker</title>
  <style type="text/css">
    .center-block {display: block; margin-left: auto; margin-right: auto}
    .footer {position: fixed; left: 0px;bottom: 0px; height: 30px; width: 100%}
    .button {text-decoration: none}



</style>
</head>
<body>
<!--
  <div class="col-xs-6 col-sm-4"> -->
   <div style= "text-align: center" >

    <h1 class="text-center"> <strong>See a rat?</strong></h1>

    <h3 class="text-center">Click the icon and report it!</h3>

    <button type="button" class="btn btn-link" onclick="getLocation()"><%= image_tag"rat tracker.gif", :width => 500 %></button>

    <p id="demo"></p>

    <script>
      var x = document.getElementById("demo");
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          x.innerHTML = "Geolocation is not supported by this browser.";
        }
      }
      function showPosition(position) {
        x.innerHTML = "Latitude: " + position.coords.latitude +
        "<br>Longitude: " + position.coords.longitude;
      }
    </script>

    <!--    <div class="text-align"> -->


    <%= link_to (image_tag"rat tracker.gif", :width => 500), new_sighting_url%>
    <!--    </div> -->

     <%=image_tag "skyline.gif", :width => "100%"%>
  </div>

  <!-- Add link and button to map page  -->

  <%#= link_to (image_tag"rat.gif", :width => 500), map_url%>


</body>
</html>



</div>


