<h1>Show</h1>


<h1>You're all done!</h1>

<h3>Between you and your friends, you have reported <%= Sighting.count %> rats. You rock.</h3>

<a href="#">Share on Facebook</a>

<a href="#">Share on Twitter</a>

<h3>Map of Rats in Chicago</h3>

<!-- Using City API, print map of open rodent baitings in Chicago -->


