<h1>You're all done!</h1>

<h2>The city will inspect and bait the location within 3 weeks. </h2>

<h3>Thanks for reporting!</h3>

<%=image_tag "facebook.png", :width => "15%"%>
<h6>Share</h6>


<h3>Curious to see where others have reported rats?</h3>

<%=image_tag "rat_map.gif", :width => "80%", :class => "thumbnail"%>







